*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.conteiner{
    width:80%;
    margin:auto;
    padding: 20px 10px;
}

.product{
    width: calc(100% / 3.1);
    margin-left:5px;
    display: inline-block;
}

/* inizio card */

.card{
    position: relative;
}

.card img{
    width: 100%;
}

.overlay{
    position:absolute;
    top:0;
    left: 0;
    display: none;
}


.card:hover .overlay{
    width: 100%;
    display: block;
}

/* fine card */

/* inizio sovrapposizioni */
.like{
    font-size: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 53px;
    background-color: white;
    position: absolute;
    top:20px;
    right:0px;
}

.like:hover span{
    color:red;
} 

.etichette{
    position: absolute;
    bottom: 20px;
}

.banner{
    display: inline-block;
    padding: 5px;
    color: white;
}

.banner.discount{
    background-color: #eb0037;
}

.banner.speciale{
    background-color: #00875a;
}


/* dati prodotto */

.dati-prodotto{
    margin-bottom: 10px;
}

.price{
    color:red;
}

.price-delite{
    text-decoration:line-through;
    margin-left:10px;
    color: black;
}